
<style>


</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">O nama</h1>
      <p class="lead">Aplikacija je nastala u zelji da olaksa prodavcima da podjele informacije o svojim autima,kao i da mogu pogledati veliki broj automobila od drugih prodavaca i kontaktirati ih</p>
            <h3 class="my-0 font-weight-normal">Osnivači</h3>
    
</div>


    <div class="container">

      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Dzan</h4>
          </div>
          <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                   <li>
                         <img width=500px height=300px src="~/lib/pic/man1.jpg" alt="man 1">
                   </li>
              </ul>

                <button title="dzandzan97@gmail.com" type="button" class="btn btn-lg btn-block btn-primary">Contact him</button>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Edis</h4>
          </div>
          <div class="card-body">
                 <ul class="list-unstyled mt-3 mb-4">
                   <li>
                     <img width=500px height=300px src="~/lib/pic/man2.jpg" alt="man 2">
                     </li>
                 </ul>
              <button title="edisedo11@hotmail.com" type="button" class="btn btn-lg btn-block btn-primary">Contact him</button>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enes</h4>
          </div>
          <div class="card-body">
              
                <ul class="list-unstyled mt-3 mb-4">
                   <li>
                        <img src="~/lib/pic/man3.jpg" alt="man 3">
                   </li>   
                </ul>
                    <button title="enes007@hotmail.com" type="button" class="btn btn-lg btn-block btn-primary">Contact him</button> 
            </div>
        </div>

      </div>
   </div>